body{
    background-image: url("images/backgrond.jpeg"); 
    background-size: cover;
    background-repeat: no-repeat;
}

.topBar ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
}

.topBar ul li a{
    color: black;
    text-decoration: none;
}

.zonetxtimg{
    display: flex;    

    align-items: center;
    padding: 1%;
}

.zonetxtimg img{
    
    width: 40%;
    height: auto;
}

.zonetxtimg p{
    color: chocolate;
    margin-left: 10%;
    display: block; 
    font-size: 100%;
    text-align: center;
    
}


@media screen and (max-width : 600px){
    
    .zonetxtimg{
        display: block;    
        align-items: center;
        padding: 1%;
    }

    .zonetxtimg img{
        position: relative;
        justify-content: center;
        margin-left: 25%;
        
        width: 50%;
        height: auto;
        text-align: center;
    }
    
    .zonetxtimg p{
        margin-left: 10%;
        display: block; 
        font-size: 100%;
        text-align: center;
        
    }
    .content h3{
        text-align: center;
    }
}